*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 4em;
  font: 1rem/1.5 "PT Sans", Arial, sans-serif;
}

h1 {
  margin-top: 0;
}

a {
  color: #00B7FF;
}

code {
  font: 14px Consolas, "Courier New", monospace;
  background-color: #ddd;
  padding: 2px;
  border-radius: 5px;
}

#viewerContainer.pccv {
  width: 100%;
  height: 800px;
}

#documentErrorContainer:not(:empty) {
  position: fixed;
  display: block;
  color: #9e1c1c;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #f9d6d6;
  padding: 27px 20px 2px;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#documentErrorContainer:not(:empty):before {
  content: 'You tried to upload HTML Document with errors:';
  height: 14px;
  font-weight: 600;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 3px 0;
  text-align: center;
}

#documentErrorContainer:not(:empty):after {
  right:10px;
  left:auto;
  transform:skew(8deg) rotate(3deg);
}

.description {
  display: none;
}

#viewerContainer:not(:empty) + .description {
  display: block;
}

.content {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.upload-form {
  display: flex;
  border-radius: 3px;
  flex-direction: column;
  padding: 15px;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  background: #fff;
}

.upload-form:before,
.upload-form:after {
  content:"";
  position:absolute;
  z-index:-1;
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top:10px;
  bottom:10px;
  left:0;
  right:0;
  border-radius:100px / 10px;
}

.upload-form:after {
  right:10px;
  left:auto;
  transform:skew(8deg) rotate(3deg);
}

.upload-form > span {
  font-size: 16px;
  line-height: 150%;
  flex: 1;
  font-weight: 600;
  text-align: center;
}

.upload-form form {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.upload-form .file {
  margin: 0;
  padding: 2rem 1.5rem;
  color: #5a5a5a;
  min-width: 60%;
}

.upload-form [type="submit"] {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.upload-form [type="submit"]:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.upload-form input[type="file"]:valid + .file-custom:after {
  content: 'File chosen. You can send it or choose other file...';
}
